<%-include('../../partials/header.ejs') %>
<%-include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">        
        <div class="card-header">
            <h2>Registre sua Atividade</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/activities/save">
                <input class="form-control" type="text" name="title" placeholder="Titulo da Atividade" required>
                <br>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Describe your activity" name="detail" minlength="20" maxlength="2500" required></textarea>
                </div>
                <br>
                <button class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>
<%-include('../../partials/footer.ejs') %>